@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$white : #fff;
$dark-blue : #1F2E55;
$light-gray : #717FA6;
$blue : #382AE1; 
$light-white : #F7F9FF;